* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

a {
  text-decoration: none;
  color: #38bdf8;
}

header {
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.btn {
  background: #ef4444;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #dc2626;
}

.card {
  background: #020617;
  border-radius: 12px;
  padding: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
